@charset "UTF-8";

/* reset */
body,
html {
    font-family: sans-serif;       /*无衬线字体*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #222;
    margin: 0;
    padding: 0;
}
a {
    color: #222;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #fcb322;
    outline: none;
}
ul {
    list-style: none;
}

/* clear float */
.clear:after {
    content: '';
    display: block;
    clear: both;
}

/* iconfont */
.icon {
    fill: currentColor;
    overflow: hidden;
}

/* header */
.bar .title {
    color: #ff6a21;
    font-weight: 600;
}
.bar a.button-link {
    color: #666;
}
.bar a.button-link .icon {
    font-size: 1.4rem;
    padding: 0px .2rem;
}

/* content */
.content {
    padding-bottom: 3rem;
}

/* swiper */
.swiper-container {
    padding-bottom: 0px;
}
.swiper-slide img {
    width: 100%;
}
.swiper-container .swiper-pagination {
    bottom: 0;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    background: none;
    border: 1px solid #fff;
    opacity: 1;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}

/* nav */
.nav {
    position: relative;
    padding: 0 .5rem 1.1rem;
    height: auto;
}
.nav .tab-item {
    display: inline-block;
    width: 23%;
    height: auto;
    padding: .5rem 0;
}
.nav .tab-item>span.icon {
    font-size: 1.5rem;
    height: auto;
    line-height: inherit;
    color: #ff9d00;
}
.nav .tab-label {
    color: #333;
    letter-spacing: 1px;
}

/* 推荐攻略 */
.list-block {
    margin: .5rem 0;
}
.list-block h4 {
    font-weight: normal;
    padding: 0 .5rem;
    margin: 0 0 .5rem 0;
    text-align: left;
}
.list-block h4 span {
    border-left: 4px solid #ff6a21;
    padding-left: .3rem;
}
.list-block h4 a {
    float: right;
    color: #999;
    font-size: .7rem;
}
.list-block .card {
    margin-top: 0;
    padding: .5rem;
}
.list-block .card .card-header {
    padding: 0;
}
.list-block .card .card-content .item-content {
    padding-left: 0;
}
.list-block .card .card-content .item-content .item-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-line;
    font-size: .7rem;
    color: #999;
}
.list-block .card .card-content .item-media img {
    width: 6rem;
}
.list-block .card .card-content .item-inner {
    padding-right: 0;
}
.list-block .card .card-footer {
    min-height: auto;
    padding: 0;
}

/* 工具栏 */
nav.bar .tab-item{
    color: #ff6a21;
}
nav.bar-tab .tab-item.active {
    color: #ff9d00;
}

/* popup */
.panel {
    box-shadow: -2px 2px 2px #e7e7e7;
    width: 8rem;
}
.panel .content-block ul {
    padding: 0 20px;
    text-align: center;
}
.panel .content-block ul li {
    line-height: 2rem;
}
.panel .content-block ul li a {
    color: #ff6a21;
    letter-spacing: 2px;
}

